img{
    width:400px;
    height: 400px;
}


#product-card{
    margin:30px 15PX;
    display: flex;
    flex-direction: column;
}

#product-name{
    text-align: center;
    font-size: 20px;
    margin: 15px;
}

#product-price{
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    font-size: 12px;
    border: 2px solid black;
    width: 120px;
    margin: auto;
    border-radius: 15px;
    font-weight: 600;
    color: black;
    background-color: rgb(198, 196, 196);
}
.btn:hover{
    background-color: rgb(42, 42, 42);
    color:#fff;
}